{% extends 'base.html' %}

{% block title %}
    Add Client
{% endblock  %}

{%block header%}
  <li class="breadcrumb-item "><a href="{% url 'home' %}">Boards</a></li>
      <li class="breadcrumb-item active">Add New Client</li>
{% endblock %}

{%block body%}

  {% comment %} first form {% endcomment %}
  <form  method="POST" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Add</button>
  </form>
  {% comment %} end form {% endcomment %}
  


{% endblock %}