{% extends 'base.html' %}
  
  {% block title %}
    {{clients.f_name | title}} Details 
  {% endblock  %}

  {%block header%}
  <li class="breadcrumb-item active "><a  class='text-decoration-none'  href="{% url 'hello' %}">First Page</a></li>
  <li class="breadcrumb-item ">Persons</li>
  {% endblock %}

  {%block body%}

  <a href="{% url 'add_person' %}" class="btn btn-primary">Add Person</a>

  <table class="table ">
    <thead class=" thead-dark">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% comment %}         topics => related_name in models   {% endcomment %}
      {% for person in persons %}
        <tr>
          <td><a class='text-decoration-none' href="{% url 'person_details' person.slug %}">{{person.f_name}} {{person.l_name}}</a></td>
          <td><a class='btn btn-primary' href="{% url 'delete_person' person.slug %}">Delete</a></td>
        </tr>
      {% endfor %}
        
    </tbody>
  </table>
{% endblock %}